.btn {
    margin: 8px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &:hover {
        filter: brightness(110%);
    }
}